@import url('./other-file.css');
body{
    font-family: Arial, Helvetica, sans-serif;
    background:#fafafa;
    }

    .center {
        padding: 4rem 8rem;
        text-align: center;
        display: inline-block;
        text-transform: uppercase;
        letter-spacing: 0.3ch;
        position: relative;
        margin: 20px 0px 0px 200px;
    }

    h1 {
        text-align: center;
        font-size: 30px
        
    }

#user-input,#input-id,#number-input
    {
        background: #c7e0f8;
        color:#0776de;
        padding:10px;
        width:200px; 
        margin:10px;
        display:inline-block;
        background:#e0e0e0;
        box-shadow:6px -6px 8px #9d9d9d, -6px 6px 8px #ffffff;
        text-align:center;
        font-size: 20px;
    }


    .user{
        background-color:  #c7e0f8;
        padding: 8rem 8rem;
        text-align: center;
        display: inline-block;
        text-transform: uppercase;
        letter-spacing: 0.3ch;
        position: relative;
        margin: 20px 0px 0px 350px;
      }
      .user h2{
        padding-left: 80px;
        text-align: left;
        align-items: center;
      }
      .user p{
      text-align: left;
      align-items: center;
      padding-left: 80px;
      }
      
      .alert{
        background-color:  #c7e0f8;
        padding: 8rem 8rem;
        text-align: center;
        display: inline-block;
      }